@charset "UTF-8";

dl{
  display: flex;
  width: 250px;
  justify-content: space-between;
  align-items: center;
}
dt{
  text-align: center;
  flex-basis: 50px;
}
dd{
  flex-basis: auto;
  input{
    width: 100%;
  }
}
